@page
@model trans_track.Pages.Vehicle.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Vehicle</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Make)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Make)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Capacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.License)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.License)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.VIN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.VIN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.DatePurchased)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.DatePurchased)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.PricePaid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.PricePaid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.PurchasedFrom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.PurchasedFrom)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Vehicle.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>

