@page
@model trans_track.Pages.Vehicle.DetailsModel

<h1>Vehicle Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Make)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Vehicle.Make)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Model)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Vehicle.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Year)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Vehicle.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Capacity)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Vehicle.Capacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.License)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Vehicle.License)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.VIN)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Vehicle.VIN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.DatePurchased)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Vehicle.DatePurchased)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.PricePaid)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Vehicle.PricePaid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.PurchasedFrom)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.Vehicle.PurchasedFrom)
        </dd>
        <dd class="col-sm-10">
        </dd>
        <dd class="col-sm-8" id="vehicle_img">
            <img src="@Html.DisplayFor(m => m.Vehicle.ImagePath)" alt="Image" width="300" height="200" />
        </dd>
        <dd class="col-sm-10">
        </dd>

    </dl>
    <dl class="row">
        <dt class="col-md-10" style="color:darkred">
            Services
        </dt>
        <dd class="col-md-10">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Date</th>
                        <th scope="col">Vendor</th>
                        <th scope="col">Mileage</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Vehicle.Services)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ServiceType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ServiceDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ServiceVendor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mileage)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Vehicle.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

