@page
@model trans_track.Pages.Vehicles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<link rel="stylesheet" href="~/css/special.css" />

<h1>Vehicles</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.License)
            </th>
            @*<th>
                Cap
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.VehicleVM)
        {
        <tr id="vehicleList">
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.License)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>*@@*<td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>*@
        <td class="break">
            <a class="btn btn-sm btn-outline-primary" asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            <a class="btn btn-sm btn-outline-primary" asp-page="/ServiceHistory/Create" asp-route-id="@item.ID">Add Service</a>
            @*<a class="btn btn-sm btn-outline-primary" asp-page="./Edit" asp-route-id="@item.ID">Edit</a>*@
            <a class="btn btn-sm btn-outline-primary" asp-page="./Details" asp-route-id="@item.ID">Details</a>
            @if (item.Warning == true)
            {
                <img id="warning" src="~/img/oilChange.jpg" onclick="showModal('@item.WarningMessage')" width="35" height="35" style="margin-left:10px"/>
            }
        </td>

        </tr>
        }
        </tbody>
    </table>


<script type="text/javascript">
    $( document ).ready(function() {
        console.log("document loaded");
    });

    function showModal(message) {
        var modal = $("#alertModal");
        modal.find('.modal-body p').text(message);
        modal.find('.modal-header h5').html('Service Alert');
        $('#alertModal').modal('show');
    }
</script>


<div id="alertModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
        </div>
    </div>
</div>